<div class="page-header">
  <h1>
    Sent gifts
    <a href="/sent_gifts/new" class="btn btn-lg btn-success">New Sent gift</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Date</th>
        <th>Sent to</th>
        <th>Sent as</th>
        <th>Content</th>
        <th>Actions</th>
      </tr>

      <% @sent_gifts.each do |sent_gift| %>
      <tr>
        <td><%= sent_gift.date %></td>
        <td><% sent_gift.persons.each do |person| %>
          <%= person.name %>
          <% end %>
        </td>
        <td><%= sent_gift.purpose %></td>
        <td><%= sent_gift.content %></td>
        <td>
          <a href="/sent_gifts/<%= sent_gift.id %>" class="btn btn-primary">Show</a>
          <a href="/sent_gifts/<%= sent_gift.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_sent_gift/<%= sent_gift.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
