<!-- Validation failure messages -->
<% if @recipient.errors.any? %>
  <% @recipient.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Recipient #<%= @recipient.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_recipient/<%= @recipient.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Hidden input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
      
      <!-- Label and input for person_id -->
      <div class="form-group">
        <label for="person_id" class="control-label">
          Person
        </label>

        <input type="text" id="person_id" name="person_id" placeholder="Person" class="form-control" value="<%= @recipient.person_id %>">
      </div>

      <!-- Label and input for sent_gift_id -->
      <div class="form-group">
        <label for="sent_gift_id" class="control-label">
          Sent gift
        </label>

        <input type="text" id="sent_gift_id" name="sent_gift_id" placeholder="Sent gift" class="form-control" value="<%= @recipient.sent_gift_id %>">
      </div>

      <button class="btn btn-warning">
        Update Recipient
      </button>
      or
      <a href="/recipients/<%= @recipient.id %>">Cancel</a>
    </form>
  </div>
</div>
